<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Select</th>
      <th>
        <%= sort_link(q, :name) do %>
          Name
        <% end %>
      </th>
      <th>
        <%= sort_link(q, :email) do %>
          Email
        <% end %>
      </th>
      <th>
        <%= sort_link(q, :gender) do %>
          Gender
        <% end %>
      </th>
      <th>
        <%= sort_link(q, :hobby) do %>
          Hobby
        <% end %>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% leads.each_with_index do |lead, index| %>
      <%= render 'tr', { lead: lead, index: index} %>
    <% end %>
  </tbody>
</table>
