<div class="card" id="<%= dom_id lead %>">
<div class="container">
  <p>
    <strong>Name:</strong>
    <%= lead.name %>
  </p>
  <p>
    <strong>Gender:</strong>
    <%= lead.gender %>
  </p>
  <p>
    <strong>Hobby:</strong>
    <%= lead.hobby %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= lead.email %>
  </p>
</div>

</div>