<h1>Leads</h1>
<div class="table-container">
  <%== pagy_nav(@pagy) %>
  <div
    data-controller="bulk-select"
    data-bulk-select-url-value="<%= list_leads_url %>"
  >
    <div class="flex-group">
      <%= search_form_for @q, url: leads_path do |f| %>
        <%= f.label :name_or_gender_or_email_or_hobby_cont, "Email/Name" %>
        <%= f.search_field :name_or_gender_or_email_or_hobby_cont %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
      <%= render "table", { q: @q, leads: @leads} %>
    </div>
</div>
